AIRTABLE_API_KEY=YOUR_KEY_HERE
AIRTABLE_BASE_ID=appNYMWxGF1jMaf5V
AUTH0_DOMAIN=dev-cfkkvy6u.auth0.com
AUTH0_CLIENT_ID=RkMEWIOef1ZTy5jE0BV5JPANOHDO39up
GATSBY_ALGOLIA_APP_ID=SKYZAC71CL
GATSBY_ALGOLIA_SEARCH_KEY=5d4b018d3b45f2db1398c038c46cfa8a

# The following fields are only necessary to work on enrichment
TWITTER_API_KEY=
TWITTER_API_SECRET=
CRUNCHBASE_API_KEY=
