.img-title-overlay {
  background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  text-shadow: 0 2px 1em #000000;
  padding-top: 8px !important;
}

.blend-multiply {
  mix-blend-mode: multiply;
}
