.search-root {
  @apply relative flex-grow flex items-center;
}

.search-root form {
  @apply flex;
}

.search-root input {
  @apply text-gray-800 font-title leading-8 flex flex-grow;
}

.search-root input::placeholder {
  @apply text-gray-800 font-title;
}

.algolia-bar {
  @apply leading-8 text-left inline-block pl-4 border-t border-gray-300 rounded-b-sm justify-center flex;
}

.algolia-bar span {
  @apply inline-block;
}

.search-root .hit {
  @apply flex items-center;
  /* Avoid having search results displayed on multiple lines */
  height: 2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.search-root .hit a {
  @apply flex-grow;
}

@media (max-width: 768px) {
  .no-results {
    text-align: center;
  }
}

.no-results span {
  @apply pl-4 leading-8;
}

.no-results .highlight {
  @apply pl-0 font-bold;
}

.hits-wrapper {
  display: grid;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
  left: 0;
  top: 3em;
  overflow: hidden;
  border: 1px solid #979797;
  background: white;
  border-radius: 4px;
  position: absolute;
  width: 90%;
}


@media (max-width: 768px) {
  .hits-wrapper {
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
  }
}

.hits-wrapper li:first-child {
  border-top: none;
}

.hits-wrapper li {
  line-height: 2em;
  border-top: 1px solid #efefef;
  padding-left: 1em;
  text-align: left;
}

.hits-wrapper * {
  margin-top: 0;
  padding: 0;
}

.hits-wrapper ul {
  margin-top: 2px;
  list-style: none;
  overflow-y: hidden;
  max-height: 80vh;
}

.hits-wrapper mark {
  background-color: white;
  font-weight: bold;
}