.ais-Hits-item:first-child {
  border-top: none;
}

.ais-Hits-item {
  line-height: 2em;
  border-top: 1px solid #efefef;
  padding: 0;
  margin-top: 0;
  text-align: left;
}

.ais-Hits-item .selected,
.ais-Hits-item .selected mark {
  background-color: #edf2f7;
}

.ais-Hits-list {
  padding: 0;
  margin-top: 2px;
  list-style: none;
  overflow-y: hidden;
  max-height: 80vh;
}

.ais-Hits-item mark {
  padding: 0;
  margin-top: 0;
  background-color: white;
  font-weight: bold;
}
